<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arpit.miraquee">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name="com.arpit.miraquee.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.arpit.miraquee.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpit.miraquee.IncomingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpit.miraquee.afterauthenticated.ChatInterface"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.arpit.miraquee.afterauthenticated.Requests" />
        <activity android:name="com.arpit.miraquee.afterauthenticated.AddPeople" />
        <activity android:name="com.arpit.miraquee.afterauthenticated.comments" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.arpit.miraquee.afterauthenticated.myProfile" />
        <activity android:name="com.arpit.miraquee.afterauthenticated.AddPosts" />
        <activity
            android:name="com.arpit.miraquee.afterauthenticated.GroupChatInterface"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.arpit.miraquee.afterauthenticated.HomePageArpit"
            android:launchMode="singleTask" />
        <activity
            android:name="com.arpit.miraquee.afterauthenticated.AddGroups"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.arpit.miraquee.Auth.Log_in"
            android:launchMode="singleTask" />
        <activity
            android:name="com.arpit.miraquee.Auth.username_page"
            android:launchMode="singleTask" />
        <activity
            android:name="com.arpit.miraquee.Auth.Register"
            android:launchMode="singleTask" />
        <activity
            android:name="com.arpit.miraquee.SplashScreen.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5780826959412256~8772327189" />
    </application>

</manifest>