<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatterboi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".shivam.schatRoomActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".HomeActivityArpit" />
        <activity
            android:name=".shivam.screateRoomActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>
        <activity android:name=".shivam.HomeActivity" />
        <activity android:name=".Log_in" />
        <activity android:name=".username_page" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>